{% extends "base.html" %}

{% block head %}
    <style>
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 110px;
        }

        button{
            width: 20em;
            height: 4em;
            margin-top: 40px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}

    <form action="/" method="post">
        <button type="submit" name="join">Enter a Room</button>
        <button type="submit" name="create">Create Room</button>
    </form>
{% endblock %}