{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/join.css">
{% endblock %}

{% block body %}

    <form action="/join" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <p class="green">{{ message }}</p>
              {% endfor %}
            {% endif %}
        {% endwith %}

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
        <input type="text" name="room" placeholder="Room Name" value="{{ name }}" autocomplete="off">
        <button type="submit">Join Room</button>
    </form>
{% endblock %}