{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/login.css">
{% endblock %}

{% block main %}

    <body>
        <div class="container-logo">
            <img src="/static/logo2.png" alt="clubroom logo">
        </div>

        <nav class="navbar">
            <ul>
                <li class=""><a href="/login">Login</a></li>
                <li class="active"><a href="/register">Register</a></li>
            </ul>
        </nav>

        <form action="/register" method="post">

            <h1>REGISTER</h1>
            <div class="label-input">
                <label for="name">
                    Username<input type="text" name="name" id="name" required autocomplete="off">
                </label>
            </div>
            <div class="label-input">
                <label for="password">
                    Password<input type="password" name="password" id="password" required autocomplete="off">
                </label>
            </div>

            <div class="label-input">
                <label for="password">
                    Password<input type="password" name="confirm-password" id="password" required autocomplete="off">
                </label>
            </div>
            
            <button type="submit">Register</button>
        </form>
    </body>

{% endblock %}