{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/room.css">
    <script src="/static/script.js"></script>
{% endblock %}

{% block body %}
    <div class="message-box">
        <h2>Chat Room: {{ name }}</h2>
        <div class="messages" id="messages"></div>
        <div class="inputs">
            <input type="text" name="message" id = "message" placeholder="message">
            <button type="submit" name="send" id="send-btn" onclick="sendMessage()">send</button>
        </div>
    </div>
    
{% endblock %}